In [414]:
import re

In [23]:
pattern=r"[1-9]+[a-z,A-Z]*"
text="19Rahul 26mahendra kamal"
x=re.findall(pattern,text)
print(x)

['19Rahul', '26mahendra']

In [24]:
pattern="[a-z,A-Z]*"
text="19Rahul 26mahendra kamal"
x=re.findall(pattern,text)
print(x)

['', '', 'Rahul', '', '', '', 'mahendra', '', 'kamal', '']

In [26]:
pattern="[1-9a-zA-Z]+"
text="19Rahul 26mahendra kamal"
x=re.findall(pattern,text)
print(x)

['19Rahul', '26mahendra', 'kamal']

In [55]:
pattern=r"[0-9]+[a-zA-Z]+"
text="19Rahul 26mahendra kamal"
x=re.findall(pattern,text)
print(x)

['19Rahul', '26mahendra']

In [56]:
pattern=r"[192.168]"

In [67]:
pattern=r"\b(?:(192.168.([0-9]|1[0-9]|2[0-9]|3[0-1]).([0-9]|1[0-9]|2[0-4])))\b"
text="ip address 192.168.21.32, 192.168.19.24, 192.168.31.20 "
x=re.findall(pattern,text)
d=[]
for i in x:
    d.append(i[0])
print(d)

['192.168.19.24', '192.168.31.20']

In [65]:
for i in x:
    print(i[0])

192.168.19.24
192.168.31.9

In [95]:
pattern=r"\b[a-m]+[a-d]+[i-s]+[a]+[l-p]\b"
text="Rahul mahendra kamal karan"
x=re.findall(pattern,text)
print(x)

['kamal', 'karan']

In [147]:
pattern=r"[^a-l][a-z]+[h-q$]+"
text="rahul karan yash yay"
x=re.findall(pattern,text)
print(x)

['rahul', ' karan', ' yash']

In [118]:
pattern=r"\b[^a-l]+[a-z]+[h-q$]+\b"
text="rahul karan"
x=re.findall(pattern,text)
print(x)

['rahul', ' karan']

In [134]:
pattern=r"[a-z,A-Z]+[\s]+[=,!=,=,<>,<,>, in]+"
text="destinationServiceName != 'None' AND komal in kamal ( deviceEventClassId = 'Service Control Manager:7036'  AND (devicevendor = 'Microsoft' AND ( deviceEventClassId = '4728' OR deviceEventClassId = '4732' OR deviceEventClassId = '4756' )  AND suser != 'None'))"
x=re.findall(pattern,text)
print(x)

['destinationServiceName != ', 'komal in ', 'deviceEventClassId = ', 'devicevendor = ', 'deviceEventClassId = ', 'deviceEventClassId = ', 'deviceEventClassId = ', 'suser != ']

In [143]:
pattern=r"\b[^a-l]+[a-z]+\b"
text="rahul karan yas"
x=re.findall(pattern,text)
print(x)

['rahul', ' karan', ' yas']

In [148]:
pattern=r"a-j+[a-z]"
text="amar kamal bharat"
x=re.finditer(pattern,text)
for i in x:
    print(i)

In [183]:
pattern=r"^\w+"
text="lamar kamal bharat"
x=re.findall(pattern,text)
print(x)

['lamar']

In [194]:
pattern=r"^[a-m]\w+"
text="lamar kamal bharat"
x=re.findall(pattern,text)
print(x)

['lamar']

In [212]:
pattern=r"[a-z,A-Z]+[a-z]+[a-z$]+"
text="destinationServiceName != 'None' AND komal in kamal ( deviceEventClassId = 'Service Control Manager:7036'  AND (devicevendor = 'Microsoft' AND ( deviceEventClassId = '4728' OR deviceEventClassId = '4732' OR deviceEventClassId = '4756' )  AND suser != 'None'))"
x=re.findall(pattern,text)
print(x)

['destinationServiceName', 'None', 'komal', 'kamal', 'deviceEventClass', 'Service', 'Control', 'Manager', 'devicevendor', 'Microsoft', 'deviceEventClass', 'deviceEventClass', 'deviceEventClass', 'suser', 'None']

In [219]:
pattern=r"hello$"
pattern=r"hello\Z"
text="what is hello"
x=re.findall(pattern,text)
print(x)

['hello']

In [222]:
pattern=r"hello"
text="what is hello"
x=re.split(pattern,text)
print(x)

['what is ', '']

In [226]:
pattern=r"hello"
text="what is hello hello"
x=re.sub(pattern,"98" ,text)
print(x)

what is 98 98

In [227]:
import pandas as pd

In [229]:
x=pd.read_csv("test.csv")

In [230]:
x

       Unnamed: 0            StartTime  RuleId                    RuleName
0               0  2023-05-16 14:59:30     320              Microsoft Logs
1               1  2023-05-16 14:59:30     320              Microsoft Logs
2               2  2023-05-16 14:59:30     320              Microsoft Logs
3               3  2023-05-16 14:59:30     320              Microsoft Logs
4               4  2023-05-16 14:59:30     320              Microsoft Logs
...           ...                  ...     ...                         ...
23643       23643  2023-05-31 16:29:54     325  Securnoix Alerts_Redington
23644       23644  2023-05-31 23:45:57     325  Securnoix Alerts_Redington
23645       23645  2023-05-31 23:45:57     325  Securnoix Alerts_Redington
23646       23646  2023-05-31 23:45:57     325  Securnoix Alerts_Redington
23647       23647  2023-05-31 23:45:57     325  Securnoix Alerts_Redington

[23648 rows x 4 columns]

In [237]:
x.iloc[21546,2]

325

In [238]:
x.loc[21545,'RuleId']

325

In [241]:
x['RuleId'].replace(325,450)

0        320
1        320
2        320
3        320
4        320
        ...
23643    450
23644    450
23645    450
23646    450
23647    450
Name: RuleId, Length: 23648, dtype: int64

In [244]:
x.filter(items=['RuleName','RuleId'])

                         RuleName  RuleId
0                  Microsoft Logs     320
1                  Microsoft Logs     320
2                  Microsoft Logs     320
3                  Microsoft Logs     320
4                  Microsoft Logs     320
...                           ...     ...
23643  Securnoix Alerts_Redington     325
23644  Securnoix Alerts_Redington     325
23645  Securnoix Alerts_Redington     325
23646  Securnoix Alerts_Redington     325
23647  Securnoix Alerts_Redington     325

[23648 rows x 2 columns]

# requests Module

In [ ]:
import smtplib
from mail.mime.text import MIMEText
from mail.mime.

In [258]:
pattern=r"hello"
text="what is hello hello"
x=re.findall((pattern),text)
print(x)

['hello', 'hello']

In [286]:
pattern=re.compile(r"\b(?:(192.168.([0-9]|1[0-9]|2[0-9]).([0-9]|1[0-9])))\b")
x=pattern.findall("192.168.21.95")

In [287]:
print(x)

[]

In [283]:
pattern=re.compile(r"\b(?:(192.168.([0-9]|1[0-9]|2[0-9]|3[0-1]).([0-9]|1[0-9]|2[0-4])))\b")
x=pattern.findall("192.168.21.5")
print(x)

[('192.168.21.5', '21', '5')]

In [317]:
from pandasql import sqldf

In [384]:
data=pd.read_csv("demo_inci.csv")

In [385]:
data

,Unnamed: 0,Category,CreatedOn,src,dst
0,0,abuse_categor,2023-07-04 12:34:30,183.82.204.163,14.99.224.214
1,1,attack_categor,2023-07-04 12:34:30,10.172.195.2,34.120.5.221
2,2,abuse_categor,2023-07-04 12:34:30,120.138.12.43,14.99.224.214
3,3,abuse_categor,2023-07-04 12:34:30,120.138.12.43,14.99.224.214
4,4,abuse_categor,2023-07-04 12:34:30,183.82.204.163,14.99.224.214
...,...,...,...,...,...
195,195,abuse_categor,2023-07-04 12:34:31,45.112.178.18,14.99.224.214
196,196,abuse_categor,2023-07-04 12:34:31,45.112.178.18,14.99.224.214
197,197,abuse_categor,2023-07-04 12:34:31,45.112.178.18,14.99.224.214
198,198,abuse_categor,2023-07-04 12:34:31,45.112.178.18,14.99.224.214
199,199,abuse_categor,2023-07-04 12:34:31,45.112.178.18,14.99.224.214

In [374]:
data2=sqldf('''select * from data where src regexp "(?:(192.168.([0-9]|1[0-9]|2[0-9]|3[0-1]).+([0-9]|1[0-9]|2[0-4])))" ''')

In [375]:
data2

,Unnamed: 0,Category,CreatedOn,src,dst
0,1,anonymizer_categor,2023-07-04 12:34:31,192.168.5.51,52.113.195.132
1,5,anonymizer_categor,2023-07-04 12:34:31,192.168.8.55,52.113.195.132
2,9,anonymizer_categor,2023-07-04 12:34:31,192.168.21.95,117.18.232.200
3,15,anonymizer_categor,2023-07-04 12:34:31,192.168.8.55,52.113.195.132
4,24,attack_categor,2023-07-04 12:34:31,192.168.6.2,184.26.161.66
5,35,anonymizer_categor,2023-07-04 12:34:31,192.168.5.108,52.113.195.132
6,36,anonymizer_categor,2023-07-04 12:34:31,192.168.30.99,52.113.195.132
7,37,anonymizer_categor,2023-07-04 12:34:31,192.168.8.155,52.113.195.132
8,64,anonymizer_categor,2023-07-04 12:34:31,192.168.5.108,52.113.195.132
9,65,anonymizer_categor,2023-07-04 12:34:31,192.168.5.108,52.113.195.132
10,77,anonymizer_categor,2023-07-04 12:34:31,192.168.8.26,117.18.232.200
11,89,anonymizer_categor,2023-07-04 12:34:31,192.168.30.138,52.113.195.132
12,95,anonymizer_categor,2023-07-04 12:34:31,192.168.30.99,52.113.195.132
13,124,attack_categor,2023-07-04 12:34:31,192.168.6.2,13.107.42.1
14,137,attack_categor,2023-07-04 12:34:31,192.168.6.2,13.107.42.1
15,138,attack_categor,2023-07-04 12:34:31,192.168.6.2,162.159.24.11
16,220,attack_categor,2023-07-04 12:34:31,192.168.6.2,217.13.106.203
17,226,attack_categor,2023-07-04 12:34:31,192.168.6.2,208.80.125.4
18,233,attack_categor,2023-07-04 12:34:31,192.168.6.2,208.80.125.4
19,248,anonymizer_categor,2023-07-04 12:34:31,192.168.6.2,217.13.106.203
20,262,attack_categor,2023-07-04 12:34:31,192.168.6.2,208.80.125.4
21,309,attack_categor,2023-07-04 12:34:31,192.168.6.2,208.80.125.4
22,327,attack_categor,2023-07-04 12:34:31,192.168.6.2,208.80.125.4
23,353,attack_categor,2023-07-04 12:34:31,192.168.8.54,13.107.42.13
24,354,attack_categor,2023-07-04 12:34:31,192.168.8.54,13.107.42.13
25,382,attack_categor,2023-07-04 12:34:31,192.168.8.54,13.107.42.13
26,383,attack_categor,2023-07-04 12:34:31,192.168.8.54,13.107.42.13
27,394,attack_categor,2023-07-04 12:34:31,192.168.8.54,13.107.42.13
28,395,attack_categor,2023-07-04 12:34:31,192.168.8.54,13.107.42.13

In [361]:
df="select * from data;"
sqldf(df)

Empty DataFrame
Columns: [Unnamed: 0, Category, CreatedOn, src, dst]
Index: []

In [335]:
data='''172.'''

Empty DataFrame
Columns: [Unnamed: 0, Category, CreatedOn, src, dst]
Index: []

In [393]:
data2=sqldf('''select * from data where src regexp "(?:(192.168.([0-9]|1[0-9]|2[0-9]|3[0-1]).([0-9]|1[0-9]|2[0-4])$))" ''')
data2

,Unnamed: 0,Category,CreatedOn,src,dst
0,22,attack_categor,2023-07-04 12:34:30,192.168.20.18,40.81.94.65
1,34,attack_categor,2023-07-04 12:34:30,192.168.20.13,40.81.94.65
2,74,attack_categor,2023-07-04 12:34:30,192.168.20.13,40.81.94.65
3,103,anonymizer_categor,2023-07-04 12:34:30,192.168.30.3,35.186.224.25
4,112,attack_categor,2023-07-04 12:34:30,192.168.6.2,13.107.42.2
5,113,attack_categor,2023-07-04 12:34:30,192.168.6.2,205.251.197.250
6,117,attack_categor,2023-07-04 12:34:30,192.168.6.2,13.107.42.2
7,124,attack_categor,2023-07-04 12:34:30,192.168.6.2,13.107.42.2
8,127,attack_categor,2023-07-04 12:34:30,192.168.6.2,13.107.42.2
9,141,attack_categor,2023-07-04 12:34:30,192.168.5.13,13.107.42.16
10,146,attack_categor,2023-07-04 12:34:31,192.168.6.2,13.107.42.2
11,169,attack_categor,2023-07-04 12:34:31,192.168.6.2,13.107.42.2

In [397]:
data.tail(40)

,Unnamed: 0,Category,CreatedOn,src,dst
160,160,abuse_categor,2023-07-04 12:34:31,103.81.237.188,14.99.224.214
161,161,abuse_categor,2023-07-04 12:34:31,103.109.78.179,255.255.255.255
162,162,abuse_categor,2023-07-04 12:34:31,103.61.113.218,14.99.224.214
163,163,abuse_categor,2023-07-04 12:34:31,103.61.113.218,14.99.224.214
164,164,abuse_categor,2023-07-04 12:34:31,103.81.237.188,14.99.224.214
165,165,abuse_categor,2023-07-04 12:34:31,103.81.237.188,14.99.224.214
166,166,abuse_categor,2023-07-04 12:34:31,103.61.113.218,14.99.224.214
167,167,abuse_categor,2023-07-04 12:34:31,103.61.113.218,14.99.224.214
168,168,abuse_categor,2023-07-04 12:34:31,103.81.237.188,14.99.224.214
169,169,attack_categor,2023-07-04 12:34:31,192.168.6.2,13.107.42.2
170,170,abuse_categor,2023-07-04 12:34:31,103.61.113.218,14.99.224.214
171,171,abuse_categor,2023-07-04 12:34:31,103.61.113.218,14.99.224.214
172,172,abuse_categor,2023-07-04 12:34:31,103.81.237.188,14.99.224.214
173,173,abuse_categor,2023-07-04 12:34:31,103.81.237.188,14.99.224.214
174,174,abuse_categor,2023-07-04 12:34:31,103.81.237.188,14.99.224.214
175,175,anonymizer_categor,2023-07-04 12:34:31,1.9.8.2,14.99.224.214
176,176,anonymizer_categor,2023-07-04 12:34:31,1.9.8.2,14.99.224.214
177,177,anonymizer_categor,2023-07-04 12:34:31,1.9.8.2,14.99.224.214
178,178,abuse_categor,2023-07-04 12:34:31,103.212.146.21,14.99.224.214
179,179,abuse_categor,2023-07-04 12:34:31,45.112.178.18,14.99.224.214
180,180,abuse_categor,2023-07-04 12:34:31,45.112.178.18,14.99.224.214
181,181,abuse_categor,2023-07-04 12:34:31,45.112.178.18,14.99.224.214
182,182,abuse_categor,2023-07-04 12:34:31,45.112.178.18,14.99.224.214
183,183,abuse_categor,2023-07-04 12:34:31,45.112.178.18,14.99.224.214
184,184,abuse_categor,2023-07-04 12:34:31,45.112.178.18,14.99.224.214
185,185,anonymizer_categor,2023-07-04 12:34:31,192.168.8.37,52.113.195.132
186,186,abuse_categor,2023-07-04 12:34:31,103.46.201.34,14.99.224.214
187,187,abuse_categor,2023-07-04 12:34:31,45.112.178.18,14.99.224.214
188,188,abuse_categor,2023-07-04 12:34:31,45.112.178.18,14.99.224.214
189,189,anonymizer_categor,2023-07-04 12:34:31,192.168.30.150,52.113.195.132
190,190,anonymizer_categor,2023-07-04 12:34:31,192.168.8.102,52.113.195.132
191,191,anonymizer_categor,2023-07-04 12:34:31,192.168.5.73,52.113.195.132
192,192,abuse_categor,2023-07-04 12:34:31,103.46.201.34,14.99.224.214
193,193,anonymizer_categor,2023-07-04 12:34:31,192.168.5.108,117.18.232.200
194,194,attack_categor,2023-07-04 12:34:31,193.3.53.3,14.99.224.214
195,195,abuse_categor,2023-07-04 12:34:31,45.112.178.18,14.99.224.214
196,196,abuse_categor,2023-07-04 12:34:31,45.112.178.18,14.99.224.214
197,197,abuse_categor,2023-07-04 12:34:31,45.112.178.18,14.99.224.214
198,198,abuse_categor,2023-07-04 12:34:31,45.112.178.18,14.99.224.214
199,199,abuse_categor,2023-07-04 12:34:31,45.112.178.18,14.99.224.214

# 172.16.200.0/24
# 172.16.20.0/24

In [400]:
data2=sqldf('''select * from data where src regexp "(?:(192.168.([0-9]|25[0-5]).([0-9]|1[0-9]|2[0-4])$))" ''')
data2

,Unnamed: 0,Category,CreatedOn,src,dst
0,112,attack_categor,2023-07-04 12:34:30,192.168.6.2,13.107.42.2
1,113,attack_categor,2023-07-04 12:34:30,192.168.6.2,205.251.197.250
2,117,attack_categor,2023-07-04 12:34:30,192.168.6.2,13.107.42.2
3,124,attack_categor,2023-07-04 12:34:30,192.168.6.2,13.107.42.2
4,127,attack_categor,2023-07-04 12:34:30,192.168.6.2,13.107.42.2
5,141,attack_categor,2023-07-04 12:34:30,192.168.5.13,13.107.42.16
6,146,attack_categor,2023-07-04 12:34:31,192.168.6.2,13.107.42.2
7,169,attack_categor,2023-07-04 12:34:31,192.168.6.2,13.107.42.2

### 192.168.250.0/24
### 192.168.251.0/24
### 192.168.252.0/24
### 192.168.253.0/24
### 192.168.254.0/24
### 192.168.255.0/24

In [420]:
pattern=re.compile(r"\b(?:(192.168.(25[0-5]).([0-9]|[1-2][0-4][0-9]|25[0-4]))$)\b")
raw="192.168.253.23, 192.168.253.212 192.168.200.95 192.168.255.24"
x=re.findall(pattern,raw)
d=[]
for i in x:
    d.append(i[0])
print(d)

[]

In [415]:
# ^(172\.16\.(20|200)\.(?:[0-9]|[1-9][0-9]|[1-2][0-4][0-9]|25[0-4]))$

In [439]:
pattern=re.compile(r"\b(?:(192.168.([2][5][0-5]).([0-9]|[1-2][0-4][0-9]|25[0-4])))\b")
raw="192.168.253.23, 192.168.253.212, 192.168.250.95, 192.168.255.24"
x=re.findall(pattern,raw)
print(x)
d=[]
for i in x:
    d.append(i[0])
print(d)

[('192.168.253.212', '253', '212')]
['192.168.253.212']