In [1]:
import re

In [2]:
pattern='''^(192\.168\.(?:[0-4]|[679]|1(?:[0]|[6-9])|2(?:[01]|[34]|[7-9])|3[014]|40|60|11[13]|13[12]|145)\.(?:[1-9]|[1-9][0-9]|[1-2][0-4][0-9]|25[0-4]))$'''

In [3]:
import pandas as pd

In [33]:
pattern='''^(202.173.125.(?:[1-9]|[1-9][0-9]|[1][0-9][0-9]|[2][0-4][0-9]|25[0-4]))$'''
text="202.173.125.165"
re.findall(pattern,text)

['202.173.125.165']

In [36]:
da=pd.read_csv('demo_inci1.csv')

In [37]:
data

,Department_Name,End_IP,IP_Subnet,Start_IP,CustomerName,regex
0,Python,172.168.20.254,172.168.20.0/29,172.168.20.248,SATTRIX,^(172.168.20.(?:[2][4][8-9]|25[0-4]))$
1,Python,192.168.21.254,192.168.21.0/26,192.168.21.192,SATTRIX,^(192.168.21.(?:19[2-9]|2[0-4][0-9]|25[0-4]))$
2,Python,192.168.21.254,192.168.21.0/24,192.168.21.0,SATTRIX,^(192.168.21.(?:[1-9]|[1-9][0-9]|[1][0-9][0-9]...

In [29]:
pattern='''^(202.173.125.(?:[1-9]|[1-9][0-9]|[1-2][0-5][0-9]|25[0-4]))$'''
d=data[data.src.str.match(pattern)]
d

,Unnamed: 0,Category,CreatedOn,src,dst
104,104,abuse_categor,2023-07-04 12:34:31,202.173.125.247,14.99.224.214
105,105,abuse_categor,2023-07-04 12:34:31,202.173.125.247,14.99.224.214
106,106,abuse_categor,2023-07-04 12:34:31,202.173.125.247,14.99.224.214
107,107,abuse_categor,2023-07-04 12:34:31,202.173.125.247,14.99.224.214
111,111,abuse_categor,2023-07-04 12:34:31,202.173.125.247,14.99.224.214
...,...,...,...,...,...
391,391,abuse_categor,2023-07-04 12:34:31,202.173.125.252,14.99.224.214
396,396,abuse_categor,2023-07-04 12:34:31,202.173.125.252,14.99.224.214
397,397,abuse_categor,2023-07-04 12:34:31,202.173.125.252,14.99.224.214
398,398,abuse_categor,2023-07-04 12:34:31,202.173.125.252,14.99.224.214
399,399,abuse_categor,2023-07-04 12:34:31,202.173.125.252,14.99.224.214

In [28]:
d

,Unnamed: 0,Category,CreatedOn,src,dst
104,104,abuse_categor,2023-07-04 12:34:31,202.173.125.247,14.99.224.214
105,105,abuse_categor,2023-07-04 12:34:31,202.173.125.247,14.99.224.214
106,106,abuse_categor,2023-07-04 12:34:31,202.173.125.247,14.99.224.214
107,107,abuse_categor,2023-07-04 12:34:31,202.173.125.247,14.99.224.214
111,111,abuse_categor,2023-07-04 12:34:31,202.173.125.247,14.99.224.214
...,...,...,...,...,...
391,391,abuse_categor,2023-07-04 12:34:31,202.173.125.252,14.99.224.214
396,396,abuse_categor,2023-07-04 12:34:31,202.173.125.252,14.99.224.214
397,397,abuse_categor,2023-07-04 12:34:31,202.173.125.252,14.99.224.214
398,398,abuse_categor,2023-07-04 12:34:31,202.173.125.252,14.99.224.214
399,399,abuse_categor,2023-07-04 12:34:31,202.173.125.252,14.99.224.214

In [38]:
ip=["192.168.21.0/24","192.168.21.0/26","172.168.20.0/29"]
data=pd.DataFrame()
for i in ip:
    ip_subnet=i.rfind('.')
    slash=i.rfind('/')
    subnet_end=int(i[(slash)+1:])
    if subnet_end==24:
        pattern='''^({}.(?:[1-9]|[1-9][0-9]|[1][0-9][0-9]|[2][0-4][0-9]|25[0-4]))$'''.format(i[:ip_subnet])
        dataframe=[{
            "Department_Name":"Python",
            "End_IP":i[:ip_subnet]+'.254',
            "IP_Subnet":i,
            "Start_IP":i[:ip_subnet]+'.0',
            "CustomerName":"SATTRIX",
            "regex":pattern
        }]
        ip_rows=pd.DataFrame(dataframe)
        data=pd.concat([ip_rows,data],ignore_index=True)
    if subnet_end==25:
        pattern='''^({}.(?:12[8-9]|1[3-9][0-9]|2[0-4][0-9]|25[0-4]))$'''.format(i[:ip_subnet])
        dataframe=[
                {
                    "Department_Name":"Python",
                    "End_IP":i[:ip_subnet]+'.254',
                    "IP_Subnet":i,
                    "Start_IP":i[:ip_subnet]+'.128',
                    "CustomerName":"SATTRIX",
                    "regex":pattern
                }
            ]
        ip_rows=pd.DataFrame(dataframe)
        data=pd.concat([ip_rows,data],ignore_index=True)
        print("2",pattern)
    if subnet_end==26:
        pattern='''^({}.(?:19[2-9]|2[0-4][0-9]|25[0-4]))$'''.format(i[:ip_subnet])
        dataframe=[
                {
                    "Department_Name":"Python",
                    "End_IP":i[:ip_subnet]+'.254',
                    "IP_Subnet":i,
                    "Start_IP":i[:ip_subnet]+'.192',
                    "CustomerName":"SATTRIX",
                    "regex":pattern
                }
            ]
        ip_rows=pd.DataFrame(dataframe)
        data=pd.concat([ip_rows,data],ignore_index=True)
        print("3",pattern)
    if subnet_end==27:
        pattern='''^({}.(?:22[4-9]|2[3-4][0-9]|25[0-4]))$'''.format(i[:ip_subnet])
        dataframe=[
                {
                    "Department_Name":"Python",
                    "End_IP":i[:ip_subnet]+'.254',
                    "IP_Subnet":i,
                    "Start_IP":i[:ip_subnet]+'.224',
                    "CustomerName":"SATTRIX",
                    "regex":pattern
                }
            ]
        ip_rows=pd.DataFrame(dataframe)
        data=pd.concat([ip_rows,data],ignore_index=True)
        print("4",pattern)
    if subnet_end==28:
        pattern='''^({}.(?:[2][4][0-9]|25[0-4]))$'''.format(i[:ip_subnet])
        dataframe=[
                {
                    "Department_Name":"Python",
                    "End_IP":i[:ip_subnet]+'.254',
                    "IP_Subnet":i,
                    "Start_IP":i[:ip_subnet]+'.240',
                    "CustomerName":"SATTRIX",
                    "regex":pattern
                }
            ]
        ip_rows=pd.DataFrame(dataframe)
        data=pd.concat([ip_rows,data],ignore_index=True)
        print("5",pattern)
    if subnet_end==29:
        pattern='''^({}.(?:[2][4][8-9]|25[0-4]))$'''.format(i[:ip_subnet])
        dataframe=[
                {
                    "Department_Name":"Python",
                    "End_IP":i[:ip_subnet]+'.254',
                    "IP_Subnet":i,
                    "Start_IP":i[:ip_subnet]+'.248',
                    "CustomerName":"SATTRIX",
                    "regex":pattern
                }
            ]
        ip_rows=pd.DataFrame(dataframe)
        data=pd.concat([ip_rows,data],ignore_index=True)
        print("6",pattern)
    if subnet_end==30:
        pattern='''^({}.(?:25[2-4]))$'''.format(i[:ip_subnet])
#         pattern=r"(?:({}.(25[2-4])+))".format(i[:ip_subnet])
        dataframe=[
                {
                    "Department_Name":"Python",
                    "End_IP":i[:ip_subnet]+'.254',
                    "IP_Subnet":i,
                    "Start_IP":i[:ip_subnet]+'.252',
                    "CustomerName":"SATTRIX",
                    "regex":pattern
                }
            ]
        ip_rows=pd.DataFrame(dataframe)
        data=pd.concat([ip_rows,data] , ignore_index=True)
        print("7",pattern)
data

3 ^(192.168.21.(?:19[2-9]|2[0-4][0-9]|25[0-4]))$
6 ^(172.168.20.(?:[2][4][8-9]|25[0-4]))$

,Department_Name,End_IP,IP_Subnet,Start_IP,CustomerName,regex
0,Python,172.168.20.254,172.168.20.0/29,172.168.20.248,SATTRIX,^(172.168.20.(?:[2][4][8-9]|25[0-4]))$
1,Python,192.168.21.254,192.168.21.0/26,192.168.21.192,SATTRIX,^(192.168.21.(?:19[2-9]|2[0-4][0-9]|25[0-4]))$
2,Python,192.168.21.254,192.168.21.0/24,192.168.21.0,SATTRIX,^(192.168.21.(?:[1-9]|[1-9][0-9]|[1][0-9][0-9]...

In [39]:
pattern='''^(172.168.20.(?:[2][4][8-9]|25[0-4]))$'''
d=da[da.src.str.match(pattern)]
d

Empty DataFrame
Columns: [Unnamed: 0, Category, CreatedOn, src, dst]
Index: []

In [40]:
pattern="^(192.168.21.(?:19[2-9]|2[0-4][0-9]|25[0-4]))$"
d=da[da.src.str.match(pattern)]
d

Empty DataFrame
Columns: [Unnamed: 0, Category, CreatedOn, src, dst]
Index: []

In [41]:
data.loc[2,'regex']

'^(192.168.21.(?:[1-9]|[1-9][0-9]|[1][0-9][0-9]|[2][0-4][0-9]|25[0-4]))$'

In [42]:
pattern="^(192.168.21.(?:[1-9]|[1-9][0-9]|[1][0-9][0-9]|[2][0-4][0-9]|25[0-4]))$"
d=da[da.src.str.match(pattern)]
d

,Unnamed: 0,Category,CreatedOn,src,dst
9,9,anonymizer_categor,2023-07-04 12:34:31,192.168.21.95,117.18.232.200

In [78]:
def create_regex_for_ip(ip_with_range):
    ip=ip_with_range.split(',')
    data=pd.DataFrame()
    for i in ip:
        ip_subnet=i.rfind('.')
#         print(ip_subnet)
        slash=i.rfind('/')
        subnet_end=int(i[(slash)+1:])
        if subnet_end==24:
            pattern='''^({}.(?:[1-9]|[1-9][0-9]|[1][0-9][0-9]|[2][0-4][0-9]|25[0-4]))$'''.format((i[:ip_subnet]).strip())
            dataframe=[{
                "Department_Name":"Python",
                "End_IP":i[:ip_subnet]+'.254',
                "IP_Subnet":i,
                "Start_IP":i[:ip_subnet]+'.0',
                "CustomerName":"SATTRIX",
                "regex":pattern
            }]
            ip_rows=pd.DataFrame(dataframe)
            data=pd.concat([ip_rows,data],ignore_index=True)
        if subnet_end==25:
            pattern='''^({}.(?:12[8-9]|1[3-9][0-9]|2[0-4][0-9]|25[0-4]))$'''.format(i[:ip_subnet])
            dataframe=[
                    {
                        "Department_Name":"Python",
                        "End_IP":i[:ip_subnet]+'.254',
                        "IP_Subnet":i,
                        "Start_IP":i[:ip_subnet]+'.128',
                        "CustomerName":"SATTRIX",
                        "regex":pattern
                    }
                ]
            ip_rows=pd.DataFrame(dataframe)
            data=pd.concat([ip_rows,data],ignore_index=True)
        if subnet_end==26:
            pattern='''^({}.(?:19[2-9]|2[0-4][0-9]|25[0-4]))$'''.format(i[:ip_subnet])
            dataframe=[
                    {
                        "Department_Name":"Python",
                        "End_IP":i[:ip_subnet]+'.254',
                        "IP_Subnet":i,
                        "Start_IP":i[:ip_subnet]+'.192',
                        "CustomerName":"SATTRIX",
                        "regex":pattern
                    }
                ]
            ip_rows=pd.DataFrame(dataframe)
            data=pd.concat([ip_rows,data],ignore_index=True)
        if subnet_end==27:
            pattern='''^({}.(?:22[4-9]|2[3-4][0-9]|25[0-4]))$'''.format(i[:ip_subnet])
            dataframe=[
                    {
                        "Department_Name":"Python",
                        "End_IP":i[:ip_subnet]+'.254',
                        "IP_Subnet":i,
                        "Start_IP":i[:ip_subnet]+'.224',
                        "CustomerName":"SATTRIX",
                        "regex":pattern
                    }
                ]
            ip_rows=pd.DataFrame(dataframe)
            data=pd.concat([ip_rows,data],ignore_index=True)
        if subnet_end==28:
            pattern='''^({}.(?:[2][4][0-9]|25[0-4]))$'''.format(i[:ip_subnet])
            dataframe=[
                    {
                        "Department_Name":"Python",
                        "End_IP":i[:ip_subnet]+'.254',
                        "IP_Subnet":i,
                        "Start_IP":i[:ip_subnet]+'.240',
                        "CustomerName":"SATTRIX",
                        "regex":pattern
                    }
                ]
            ip_rows=pd.DataFrame(dataframe)
            data=pd.concat([ip_rows,data],ignore_index=True)
        if subnet_end==29:
            pattern='''^({}.(?:[2][4][8-9]|25[0-4]))$'''.format(i[:ip_subnet])
            dataframe=[
                    {
                        "Department_Name":"Python",
                        "End_IP":i[:ip_subnet]+'.254',
                        "IP_Subnet":i,
                        "Start_IP":i[:ip_subnet]+'.248',
                        "CustomerName":"SATTRIX",
                        "regex":pattern
                    }
                ]
            ip_rows=pd.DataFrame(dataframe)
            data=pd.concat([ip_rows,data],ignore_index=True)
        if subnet_end==30:
            pattern='''^({}.(?:25[2-4]))$'''.format(i[:ip_subnet])
            dataframe=[
                    {
                        "Department_Name":"Python",
                        "End_IP":i[:ip_subnet]+'.254',
                        "IP_Subnet":i,
                        "Start_IP":i[:ip_subnet]+'.252',
                        "CustomerName":"SATTRIX",
                        "regex":pattern
                    }
                ]
            ip_rows=pd.DataFrame(dataframe)
            data=pd.concat([ip_rows,data] , ignore_index=True)
    return data

In [79]:
df=create_regex_for_ip('192.168.21.0/24 , 172.702.265.2/26,   202.173.125.0/24')

In [80]:
create_regex_for_ip('192.168.21.0/24 , 172.702.265.2/26,202.173.125.0/24')

,Department_Name,End_IP,IP_Subnet,Start_IP,CustomerName,regex
0,Python,202.173.125.254,202.173.125.0/24,202.173.125.0,SATTRIX,^(202.173.125.(?:[1-9]|[1-9][0-9]|[1][0-9][0-9...
1,Python,172.702.265.254,172.702.265.2/26,172.702.265.192,SATTRIX,^( 172.702.265.(?:19[2-9]|2[0-4][0-9]|25[0-4]))$
2,Python,192.168.21.254,192.168.21.0/24,192.168.21.0,SATTRIX,^(192.168.21.(?:[1-9]|[1-9][0-9]|[1][0-9][0-9]...

In [81]:
print(df.loc[0,'regex'])

^(202.173.125.(?:[1-9]|[1-9][0-9]|[1][0-9][0-9]|[2][0-4][0-9]|25[0-4]))$

In [82]:
d=da[da.src.str.match(df.loc[0,'regex'])]
d

,Unnamed: 0,Category,CreatedOn,src,dst
104,104,abuse_categor,2023-07-04 12:34:31,202.173.125.247,14.99.224.214
105,105,abuse_categor,2023-07-04 12:34:31,202.173.125.247,14.99.224.214
106,106,abuse_categor,2023-07-04 12:34:31,202.173.125.247,14.99.224.214
107,107,abuse_categor,2023-07-04 12:34:31,202.173.125.247,14.99.224.214
111,111,abuse_categor,2023-07-04 12:34:31,202.173.125.247,14.99.224.214
...,...,...,...,...,...
391,391,abuse_categor,2023-07-04 12:34:31,202.173.125.252,14.99.224.214
396,396,abuse_categor,2023-07-04 12:34:31,202.173.125.252,14.99.224.214
397,397,abuse_categor,2023-07-04 12:34:31,202.173.125.252,14.99.224.214
398,398,abuse_categor,2023-07-04 12:34:31,202.173.125.252,14.99.224.214
399,399,abuse_categor,2023-07-04 12:34:31,202.173.125.252,14.99.224.214

In [62]:
da

,Unnamed: 0,Category,CreatedOn,src,dst
0,0,abuse_categor,2023-07-04 12:34:31,45.112.178.18,14.99.224.214
1,1,anonymizer_categor,2023-07-04 12:34:31,192.168.5.51,52.113.195.132
2,2,abuse_categor,2023-07-04 12:34:31,45.112.178.18,14.99.224.214
3,3,abuse_categor,2023-07-04 12:34:31,45.112.178.18,14.99.224.214
4,4,abuse_categor,2023-07-04 12:34:31,45.112.178.18,14.99.224.214
...,...,...,...,...,...
395,395,attack_categor,2023-07-04 12:34:31,192.168.8.54,13.107.42.13
396,396,abuse_categor,2023-07-04 12:34:31,202.173.125.252,14.99.224.214
397,397,abuse_categor,2023-07-04 12:34:31,202.173.125.252,14.99.224.214
398,398,abuse_categor,2023-07-04 12:34:31,202.173.125.252,14.99.224.214
399,399,abuse_categor,2023-07-04 12:34:31,202.173.125.252,14.99.224.214

In [63]:
print("data.loc[0,'regex']")

data.loc[0,'regex']

In [64]:
print(data.loc[0,'regex'])

^(172.168.20.(?:[2][4][8-9]|25[0-4]))$